{% extends "base.html" %} {% block title %}Confirmed{% endblock %} {% block
content %}
<h1 align="center">Confirmed Meetups</h1>
<ul class="list-group list-group-flush" id="notes">
  {% set ns = namespace(inviteNumber=1) %} {% for meetup in user.meetups: %} {%
  if meetup.confirmed.find(confirmSearch) != -1%}
  <li class="list-group-item">
    ID: {{meetup.id}}<br />
    Title: {{ meetup.title }}<br />
    Date Created: {{ meetup.date_created }}<br />
    Date Meeting Up: {{ meetup.date_meetup}}<br />
    Location: {{meetup.location}}<br />
    Description: {{meetup.description}}<br />
    Invitations (pending confirmation): {{inviteList[ns.inviteNumber]}}<br />
    Confirmed Attending: {{confirmationList[ns.inviteNumber]}}<br />
    Declined: {{meetup.declined}}<br />
    Owner: {{meetup.owner}} 
    {% if user.id == meetup.owner %}
    <button
      type="button"
      class="btn btn-success float-right"
      data-toggle="modal"
      data-target={{"#inviteModal" + meetup.id|string}}
    >
      <span aria-hidden="true">Invite</span>
    </button>
    <div
      class="modal fade"
      id={{"inviteModal" + meetup.id|string}}
      tabindex="-1"
      role="dialog"
      aria-labelledby="inviteModal"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteModalLabel">Invite</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form onkeydown="return event.key != 'Enter';">
              <div class="form-group">
                <label for={{"invite-user" + meetup.id|string}} class="col-form-label"
                  >Please enter the emails of additionally users you would like to invite seperated by a space: {{meetup.id}}</label
                >
                <input type="text" class="form-control" id={{"invite-user" + meetup.id|string}} placeholder="e.g. Bob72@gmail.com Stacy6@hotmail John77@gmail.com"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onClick="invite({{meetup.id}}, '/confirmed')"
              data-dismiss="modal"
              aria-label="Confirm"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <button
      type="button"
      class="btn btn-warning float-right"
      data-toggle="modal"
      data-target={{"#ownerModal" + meetup.id|string}}
    >
      <span aria-hidden="true">Transfer Ownership</span>
    </button>
    <div
      class="modal fade"
      id={{"ownerModal" + meetup.id|string}}
      tabindex="-1"
      role="dialog"
      aria-labelledby="ownerModal"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ownerModalLabel">Transfer Ownership</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form onkeydown="return event.key != 'Enter';">
              <div class="form-group">
                <label for={{"new-owner" + meetup.id|string}} class="col-form-label"
                  >New Owner Email: {{meetup.id}}</label
                >
                <input type="text" class="form-control" id={{"new-owner" + meetup.id|string}} />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onClick="newOwner({{meetup.id}}, '/confirmed')"
              data-dismiss="modal"
              aria-label="Confirm"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-danger float-right"
      onClick="deleteMeetup({{meetup.id}}, '/confirmed')"
    >
      <span aria-hidden="true">Delete</span>
    </button>
    {% else %}
    <button
      type="button"
      class="btn btn-danger float-right"
      onClick="declineMeetup({{meetup.id}}, '/confirmed')"
    >
      <span aria-hidden="true">Decline</span>
    </button>
    {% endif %}
    <div id = "confMap{{ meetup.id }}" class = "map" style="height: 500px"></div>
  </li>
  {% endif %} {% set ns.inviteNumber = ns.inviteNumber+1 %} {% endfor %}
</ul>

<script>
  var meetupList = {{ meetupList | tojson }}
  console.log(meetupList)
  function initMap() {
    meetupList.forEach(function(meetup) {
            createMap(meetup.id, meetup.lat, meetup.lng, meetup.locationName, meetup.address);
            console.log("created!")
        });
  }

  function createMap(mapId, lat, lng, locationName, address) {
      const mapOptions = {
          center: { lat: lat, lng: lng },
          zoom: 15
      };

      const map = new google.maps.Map(document.getElementById(`confMap${mapId}`), mapOptions);
      
      // create a marker
      const myLatLng = { lat: lat, lng: lng };
      const marker = new google.maps.Marker({position: myLatLng, map,});

      // create an info window
      // Create an info window
    const infowindow = new google.maps.InfoWindow({
        content: `<div style="font-weight: bold; font-size: 14px; text-align: center">${locationName}</div><div style="font-size: 12px;">${address}</div>` // Replace with your desired content
    });

    
    // Open the info window when the marker is clicked
    marker.addListener("click", () => {
        infowindow.open(map, marker);
    });

    // Open the info window automatically when the map is loaded
    infowindow.open(map, marker);
  }
</script>
{% endblock %}
