{% extends "base.html" %} {% block title %}Create{% endblock %} {% block content
%}
<script
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=places&v=weekly"
    ></script>
<h1 align="left"><b>Create Meetup:</b></h1>
<hr />

<form method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="meetup_date">Start Date & Time</label>
        <input
          type="datetime-local"
          class="form-control input-colour"
          id="date"
          name="date"
          placeholder="Enter meetup date"
          required
        />
      </div>
      <div class="form-group">
        <label for="end_meetup_date">End Date & Time</label>
        <input
          type="datetime-local"
          class="form-control input-colour"
          id="endDate"
          name="endDate"
          placeholder="Enter end date"
          required
        />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control input-colour"
          id="title"
          name="title"
          placeholder="Enter title"
          required
        />
      </div>
      <div class="form-group">
        <label for="location">Address</label>
        <input
          type="text"
          class="form-control input-colour"
          id="location"
          name="location"
          placeholder="Enter location"
          required
        />
        <input type="hidden" name="locationCommonName" id="locationCommonName" value="" />
        <input type="hidden" name="fullAddress" id="fullAddress" value="" />
        <input type="hidden" name="latitude" id="latitude" value="" />
        <input type="hidden" name="longitude" id="longitude" value="" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control input-colour"
          id="description"
          name="description"
          placeholder="Enter description"
          required
        />
      </div>
      <div class="form-group">
        <label for="invitations"
          >Email Invitations (registered emails separated by a space, not
          including your own)</label
        >
        <input
          type="text"
          class="form-control input-colour"
          id="invitations"
          name="invitations"
          placeholder="Enter invitations"
          required
        />
      </div>
    </div>
    <div class="col-md-6 popup-text mt-3">
      <div id="map"></div>
      <div id="infowindow-content">
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
      </div>
    </div>
    <br />
    <div class="center ml-3 mb-5 mt-3">
      <button type="submit" class="btn input-colour">Add Meetup</button>
    </div>
  </div>
</form>


<script src="{{ url_for('static', filename='map.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const startDatetimeInput = document.getElementById("date");
  const endDatetimeInput = document.getElementById("endDate");

   // Set the minimum value for the start datetime input to the current datetime
  const currentDatetime = new Date();
  const formattedCurrentDatetime = currentDatetime.toISOString().slice(0, 16);
  startDatetimeInput.min = formattedCurrentDatetime;

  startDatetimeInput.addEventListener("input", function() {
    const selectedStartDatetime = new Date(startDatetimeInput.value);
    const selectedEndDatetime = new Date(endDatetimeInput.value);

    // If the selected start time is before the current time, set the start time to the current time
    if (selectedStartDatetime < currentDatetime) {
      startDatetimeInput.value = formattedCurrentDatetime;
    }

    // If the selected end time is before the start time, set the end time to 1 minute after the start time
    if (selectedEndDatetime <= selectedStartDatetime) {
      const newEndDatetime = new Date(selectedStartDatetime.getTime() + 60000); // Add 1 minute
      endDatetimeInput.value = newEndDatetime.toISOString().slice(0, 16);
    }

    // Set the minimum value for the end datetime input
    endDatetimeInput.min = startDatetimeInput.value;
  });

  endDatetimeInput.addEventListener("input", function() {
    const selectedStartDatetime = new Date(startDatetimeInput.value);
    const selectedEndDatetime = new Date(endDatetimeInput.value);

    // If the selected end time is before the start time, set the end time to 1 minute after the start time
    if (selectedEndDatetime <= selectedStartDatetime) {
      const newEndDatetime = new Date(selectedStartDatetime.getTime() + 60000); // Add 1 minute
      endDatetimeInput.value = newEndDatetime.toISOString().slice(0, 16);
    }

    // Set the minimum value for the end datetime input
    endDatetimeInput.min = startDatetimeInput.value;
  });
});

</script>
{% endblock %}
