{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %} 
<h1 align="center">Meetup</h1>


<form method="POST">
    <div class="form-group">
        <label for="meetup_time">Date & Time</label>
        <input
          type="datetime-local"
          class="form-control"
          id="meetup_time"
          name="meetup_time"
          placeholder="Enter meetup time"
        />
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Enter location"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter description"
        />
      </div>
      <div class="form-group">
        <label for="invitations">Invitations</label>
        <input
          type="text"
          class="form-control"
          id="invitations"
          name="invitations"
          placeholder="Enter invitations"
        />
      </div>
      <div class="form-group">
        <label for="owner">Owner</label>
        <input
          type="text"
          class="form-control"
          id="owner"
          name="owner"
          placeholder="Enter owner"
        />
      </div>
      <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Meetup</button>
    </div>
</form>
{% endblock %}