{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="row align-items-center">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 align="left" style="font-size: 50px;  padding-top: 20%;"><bold>Meetup With Your Friends!</bold></h1>
            <p>A simple tool to coordinate hangouts with your friends!</p>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ url_for('auth.login') }}" type="button" class="btn input-colour btn-lg rounded-pill btn-block">Login</a></div>
                <div class="col-md-6">
                    <a href="{{ url_for('auth.sign_up') }}" type="button" class="btn btn-outline-dark btn-lg rounded-pill btn-block">Signup</a>
                </div>
        </div>
        </div>
        <div class="col-md-6">
            <img class="landing-img mx-auto d-block" src="{{ url_for('static', filename='images/group.png') }}" alt="Happy_Group">
        </div>
    </div>
    
    {% endblock %}
    