/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 html, body, #map, #meetupMap {
    height: 500px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .map {
    height: 500px;
  }

  .meetup-bg {
    background-color: #FC6824;
  }

  .meetup-display {
    color: rgb(0, 0, 0);
    background-color: #FEEDCD;
  }

  .input-colour {
    background-color: #FEEDCD;
  }

  .meetup-text {
    color: white;
    font-family: 'Outfit' ;font-size: 18px;
  }

  .popup-text {
    color: rgb(0, 0, 0);
    font-family: 'Outfit' ;font-size: 18px;
  }
  
  .landing-img {
    margin-top: 10%;
    width: 80%;
    height: 80%;
  }

  .how-to-img {
    margin-top: 2%;
    align-items: center;
    border: 1px solid #FEEDCD;
    width: 100%;
  }
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .button-margin {
    margin-left: 1%;
    margin-right: 1%;
  }
  
  hr{
    height: 3px;
    background-color: #ffffff;
    border: none;
}

.center{
  text-align: center;
}

.custom-width-btn {
  width: 150px; /* Adjust the width as needed */
}
  
.overview-cards {
  background-color: #BD4E1B;
  color: #FEEDCD;
  text-align: center;
}

.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(40%);
  background-color: #FEEDCD; /* Set your desired background color */
  background-repeat: no-repeat;
  background-position: center center;
}